<p-panel header="Pipes numéricos" class="p-1">
    <!-- <h1>Pipes Básicos</h1> -->
    <p>Pipes incluidos en Angular - usualmente en el Common Module</p>
</p-panel>

<div class="grid">
    <div class="col-12 md:col-4">
        <p-card header="number" subheader="Total de ventas">
            Original: {{totalSales}}
            <hr>
            Procesado: {{totalSales | number}} <br>
            Procesado: {{totalSales | number:'1.2-2'}} <br>
            Procesado: {{totalSales | number:'1.6-8'}} <br>
        </p-card>
    </div>
    <div class="col-12 md:col-4">
        <p-card header="currency" subheader="Ventas Brutas">
            Original: {{totalSales + 1235}}
            <hr>
            Procesado: {{totalSales + 1235 | currency:'USD':'symbol-narrow':'1.4-8' }} <br>
            Procesado: {{totalSales + 1235 | currency:'HNL':'symbol-narrow':'1.4-8' }} <br>
            Procesado: {{totalSales + 1235 | currency:'EUR':'symbol-narrow':'1.4-8' }} <br>
        </p-card>
    </div>
    <div class="col-12 md:col-4">
        <p-card header="percent" subheader="Ganancia Porcentual">
            Original: {{percentage}}
            <hr>
            Procesado: {{percentage | percent:'1.2-2' }} <br>
            Procesado: {{percentage | percent:'1.2-2' }} <br>
            Procesado: {{percentage | percent:'1.2-2' }} <br>
        </p-card>
    </div>
</div>